$def with (aDict)
<html lang="en" class="no-js">
<head>
<meta charset="utf-8">
<title>jQuery File Upload Example</title>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/base/jquery-ui.css" id="theme">
<link rel="stylesheet" href="http://ms71.ru/upload/jquery.fileupload-ui.css">
<link rel="stylesheet" href="http://ms71.ru/upload/example/style.css">
</head>
<body>
<div id="file_upload">
<h1>Привет, $aDict['name']!</h1>
$var uuid: $aDict['uuid']
<input type="hidden" name="sid" value="$aDict['uuid']" />
    <form action="upload.py" method="POST" enctype="multipart/form-data">
        <input type="file" name="file[]" multiple>
        <button type="submit">Закачка</button>
        <div class="file_upload_label">Закачка накладных</div>
    </form>
    <table class="files">
        <tr class="file_upload_template" style="display:none;">
            <td class="file_upload_preview"></td>
            <td class="file_name"></td>
            <td class="file_size"></td>
            <td class="file_upload_progress"><div></div></td>
            <td class="file_upload_start"><button>Старт</button></td>
            <td class="file_upload_cancel"><button>Отмена</button></td>
        </tr>
        <tr class="file_download_template" style="display:none;">
            <td class="file_download_preview"></td>
            <td class="file_name"><a></a></td>
            <td class="file_size"></td>
            <td class="file_download_delete" colspan="3"><button>Удалить</button></td>
        </tr>
    </table>
    <div class="file_upload_overall_progress"><div style="display:none;"></div></div>
    <div class="file_upload_buttons">
        <button class="file_upload_start">Закачать всё</button> 
        <button class="file_upload_cancel">Отменить всё</button> 
        <button class="file_download_delete">Удалить всё</button>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
<script src="http://ms71.ru/upload/jquery.fileupload.js"></script>
<script src="http://ms71.ru/upload/jquery.fileupload-ui.js"></script>
<script src="http://ms71.ru/upload/example/jquery.fileupload-uix.js"></script>
<script src="http://ms71.ru/upload/example/application.js"></script>
<a href="/exit" title="Выход">Выход</a>
</body> 
</html>
